<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <%= link_to "Home" , root_path, class: "btn btn-outline-secondary" %>  
  <%= link_to "Sign out",destroy_user_session_path, method: :delete, class: "btn btn-outline-warning" if user_signed_in? %>
  <%= link_to "Sign in", new_user_session_path, class: "btn btn-outline-info" if !user_signed_in? %>
  <div class="ml-6">
    <% if signed_in? %>
        <span class="badge badge-info"><%= "#{current_user.email} -> #{current_user.role}" %></span>
    <% end %> 
  </div>
 </nav>      
      